*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "League Spartan", serif;
    background-color: #090014;
    height:100vh;
    display: flex;
    /* align-items: center; */

}
/* <----------------------------------------------------------gradient-------------------------------------------------> */
.top{
    position: absolute;
    z-index:-100;
}
.bottom{
    position: fixed; 
    bottom:0;
    right: 0;
    z-index:-100;
}
/* <-------------------------------------------------------------outer box ----------------------------------------------------> */
.outer
{
    border:2px solid #240047;
    height:auto;
    width:90vw;
    /* z-index:-1000; */
    margin: auto;
    border-radius: 20px;
}
.head{
    text-align: center;
    color:whitesmoke;
	height:9rem;
	justify-self: center;
}
.head img{
    height: 7em;
}
.head p{
	font-size: small;
    padding:-1rem;
}

/* -----------------------------------------------------------------cssportal grid--------------------------------------------------- */
option {
    font-size: 18px;
    background-color: #090014;
	text-transform: capitalize;
}

option:before {
    content: ">";
    font-size: 20px;
    display: none;
}

option:hover:before {
    display: inline;
}



.parent {
	height:95vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 0.5rem;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 2 / 1 / 3 / 3; }
	.div4 { grid-area: 3 / 1 / 4 / 3; }
	.div5 { grid-area: 4 / 1 / 5 / 2; }
	.div6 { grid-area: 4 / 2 / 5 / 3; }
	.div7 { grid-area: 5 / 1 / 6 / 2; }
	.div8 { grid-area: 6 / 1 / 7 / 5; }
	.div9 { grid-area: 1 / 3 / 2 / 4; }
	.div10 { grid-area: 1 / 4 / 2 / 5; }
	.div11 { grid-area: 2 / 3 / 3 / 5; }
	.div12 { grid-area: 3 / 3 / 4 / 5; }
	.div13 { grid-area: 4 / 3 / 5 / 5; }
	.div14 { grid-area: 5 / 3 / 6 / 5; }

/* <-----------------------------------------------------styling the input-------------------------------------------> */
input,select,button{
	width:100%;
	background-color: rgba(38, 37, 37, 0.185);
	color:white;
	height: 33px;
	border-radius: 10px;
	border:1px solid #e1e1e12a;
	margin-top: 10px;
	padding: 3px;
}
.button{
    text-align: center;
}
label{
	color:white;
}
/* <--------------------------------------------signup button---------------------------------------------------> */

label[for="age"] {
	display: inline-block; 
	font-size: 1rem;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* <-------------------------------------------------------Adding icons-------------------------------------------------->	 */
.parent{
	padding:0 3rem;
}


   .fa-user,.fa-circle-user,.fa-lock {
	padding-left: 5px;
	color:white;
	pointer-events: none;

  }


.form{
	height: 20rem;
}


  .sign_up{
	text-align: center;
  }


  /*----------------*/



.border_default{
	border: 1px solid #240047;
	border-radius: 10px;
}

.gradient-border-button {
	height: 3rem;
font-size: 15px;
width: 8rem;
font-weight: 500;
text-transform: capitalize;
padding:15px 20px;
background: transparent;
color: white;
border-radius: 50px;
position: relative;
display: inline-block;
border: 1px solid transparent;
background-image: linear-gradient(#000, #000),
	/* Inner button background */
	linear-gradient(90deg, #8d73ff, #a66cc3);
/* Gradient border */
background-origin: border-box;
background-clip: padding-box, border-box;
box-shadow:
	0 0 10px 1px rgba(0, 0, 0, 0.2),
	0 0 10px 1px rgba(141, 115, 255, 0.242),
	0 0 10px 1px rgba(195, 108, 191, 0.227);
transition: all 0.3s ease;
}

.gradient-border-button:hover {
box-shadow:
	0 0 10px 1px rgba(102, 102, 102, 0.593),
	0 0 10px 1px rgba(47, 0, 255, 0.729),
	0 0 10px 1px rgba(255, 0, 242, 0.651);
}

.text_sec{
font-weight: 300;
font-size: 16px;
color: #d3d0e1;
}


.submit{
text-align: center;
}
/*------------error box----------------*/

.alert {
	position:absolute;
	top:10%;
	right:50%;
	  padding: 20px;
	  background-color:rgb(174, 40, 40);
	  color: white;
	  border-radius:10px;
	  border:2px solid black;
	}
	
	.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.closebtn:hover {
	  color: black;
	}