<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='favicon.png')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top">
        <img src="{{url_for('static',filename='Group 35920.png')}}" alt="">
    </div>
    <div class="bottom">
        <img src="{{url_for('static',filename='vector 5.svg')}}" alt="">
    </div>
    <div class="outer">
        {%if error%}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            wrong password/username
              </div>
        {%endif%}
        <div class="head">
            <div>
                <img src="{{url_for('static',filename='2line.png')}}" alt="">
            </div>

            <h2>Log in to influenzio</h2>

        </div>

        <form action="/influencer-login" name="myForm" method="post" onsubmit="return validateForm()">
        <div id="cssportal_grid">
            <div id="div1">
                <label for="uname">EMAIL:</label>
                <div class="input_field">
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="text" id="uname" name="email">
                </div>
            </div>
            <div id="div2">
                    <label for="pass">Password:</label><a class="text_sec" style="color: #8D73FF; text-decoration: none; float:right;">Forgot Password?</a>
                    <div class="input_field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" id="uname" name="pass">
                    </div>
                    <div class="submit">
                        <button type="submit" class="gradient-border-button">Log in</button>
                    </div>
                </form>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember" class="text_sec">Remember Me</label>
            </div>
        </div>
        </div>
    
    <div class="register">
        <h3 class="text_sec">Do not have an account ? <a href="/influencer-register">Register</a></h3>
    </div>
    </div>
    {{error}}
</body>
<script>
    function validateForm() {
    let x = document.forms["myForm"]["email"].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
    let pass = document.forms["myForm"]["pass"].value;
    if (pass == "") {
        alert("password must be filled out");
        return false;
    }
    }
</script>

</html>