<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static',filename='sign.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='favicon.png')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../static/" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="top">
        <img src="" alt="">
    </div>
    <div class="bottom">
        <img src="{{url_for('static',filename='Vector 5.svg')}}" alt="">
    </div>

    <div class="outer">
        {%if error%}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                User Already Exists 
              </div>
        {%endif%}
        <div class="head">
            <div>
                <img src="{{url_for('static',filename='2line.png')}}" alt="">
            </div>
            <p>
            <h2>Sign in to influenzio</h2>
            </p>
        </div>
        <form action="/influencer-register" method="post" name="myForm" onsubmit="return validateForm()">
            
            <div class="parent">
                <div class="div1">
                    <label for="fname">Full name:</label>
                    <i class="fa-regular fa-user" ></i>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="div2">
                    <label for="lname">Profile Url:</label>
                    <i class="fa-regular fa-user" ></i>
                    <input type="text" id="lname" name="lname">
                </div>
                <div class="div3">
                    <label for="email">Email:</label>
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="text" id="email" name="email">
                    
                </div>
                <div class="div4">
                    <label for="pass">Password:</label>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="pass" name="pass">
                </div>
                <div class="div5">
                    <label for="instaname">Instagram Username:</label>
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="text" id="instaname" name="instaname">
                </div>
                <div class="div6">
                    <label for="ytname">Youtube Username:</label>
                    <i class="fa-regular fa-circle-user"></i> 
                    <input type="text" id="ytname" name="ytname">
                
                </div>
                <div class="div7">
                    <label for="other">Other Platform:</label>
                    <i class="fa-regular fa-circle-user"></i> 
                    <input type="text" id="other" name="other">
                
                </div>
                <div class="div8">
                    <div class="submit">
                        <button type="submit" class="gradient-border-button">sign-up</button></a>
                    </div>
                </div>
                <div class="div9">
                    <label for="follow">No. of followers:</label>
                    <i class="fa-regular fa-user" ></i>
                    <input type="number" name="follow" id="follow">
                </div>
                <div class="div10">
                    <label for="typefollow">Type of Influrencer:</label>
                    <i class="fa-regular fa-user" ></i>
                    <select name="typeinfluence" id="typefollow">
                        <option value="#"></option>
                        <option value="Nano Influencer (2k-10k)">Nano Influencer (2k-10k)</option>
                        <option value="Micro Influencer (10k-50k)">Micro Influencer (10k-50k)</option>
                        <option value="Mid Tier Influencer (50k-200k)">Mid Tier Influencer (50k-200k)</option>
                        <option value="Macro Influencer (200k-500k)">Macro Influencer (200k-500k)</option>
                        <option value="Mega Influencer (500k-1M)">Mega Influencer (500k-1M)</option>
                        <option value="Celebrities (1M & above)">Celebrities (1M & above)</option>
                        
                    </select>
                </div>
                <div class="div11">
                    <label for="genre">Genre:</label>
                    <i class="fa-regular fa-circle-user"></i>
                    <select name="genre" id="genre">
                        <option value="#"></option>
                        <option value="Gaming">Gaming</option>
                        <option value="Food">Food</option>
                        <option value="Travel">Travel</option>
                        <option value="Makeup">Makeup</option>
                        <option value="Health">Health</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Technology">Technology</option>
                        <option value="Education">Education</option>
                        <option value="Animal Care">Animal Care</option>
                        <option value="Finance">Finance</option>
                    </select>
                </div>
                <div class="div12">
                    <label for="gender">Gender:</label>
                    <i class="fa-solid fa-lock"></i>
                    <select name="gender" id="gender">
                        <option value="#"></option>
                        <option value="male">male</option>
                        <option value="feamle">female</option>
                        <option value="others">others</option>
                    </select>
                </div>
                <div class="div13">
                    <label for="state">Country:</label>
                    <i class="fa-solid fa-lock"></i>
                    <select name="state" id="state">
                        <option value="#"></option>
                        <option value="India">india</option>
                        <option value="USA">usa</option>
                        <option value="Australia">australia</option>
                    </select>
                </div>
                <div class="div14">
                    <label for="age">Age-group:</label>
                    <i class="fa-solid fa-lock"></i>
                    <select name="age" id="age">
                        <option value="#"></option>
                        <option value="5-15">5-15</option>
                        <option value="16-25">16-25</option>
                        <option value="25-40">25-40</option>
                        <option value="41-60">41-60</option>
                    </select>
                </div>
            </div>
        </form>
        
    </div>
</body>
<script>
    function validateForm() {
    let x = document.forms["myForm"]["fname"].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
    let lname = document.forms["myForm"]["lname"].value;
    if (lname == "") {
        alert("last name must be filled out");
        return false;
    }
    let email = document.forms["myForm"]["email"].value;
    if (email == "") {
        alert("email must be filled out");
        return false;
    }
    let pass = document.forms["myForm"]["pass"].value;
    if (pass == "") {
        alert("password must be filled out");
        return false;
    }
    let instaname = document.forms["myForm"]["instaname"].value;
    if (instaname == "") {
        alert("instagram id name must be filled out");
        return false;
    }
    let ytname = document.forms["myForm"]["ytname"].value;
    if (ytname == "") {
        alert("yotuube id name must be filled out");
        return false;
    }
    let genre = document.forms["myForm"]["genre"].value;
    if (genre == "") {
        alert("genre must be filled out");
        return false;
    }
    let gender = document.forms["myForm"]["gender"].value;
    if (gender == "") {
        alert("follow must be filled out");
        return false;
    }
    let follow = document.forms["myForm"]["follow"].value;
    if (follow == "") {
        alert("follow must be filled out");
        return false;
    }
    let state = document.forms["myForm"]["state"].value;
    if (state == "") {
        alert("follow must be filled out");
        return false;
    }
    let age = document.forms["myForm"]["age"].value;
    if (age == "") {
        alert("follow must be filled out");
        return false;
    }
    
}
</script>


</html>